# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Environment
.env

# Documentation
README.md

# Configs
.pre-commit-config.yaml
.python-version
